nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}
